<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head');%>
</head>
<body id="edit_plant">
    <!-- STAR HEADER -->
    <header>
        <%- include('partials/headerUser');%>
    </header>
    <!-- END HEADER-->
    <!-- STAR BREADCRUMB -->
    <div class="container-fluid py-1 mb-0" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page"><a href="/plants/plantas">PLANTAS</a></li>
                <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">EDITAR</li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUMB -->
    <!-- STAR MAIN -->
    <div  class="container-fluid my-4">
        <div class="mb-3">
            <h4 class="text-center text-uppercase">editando: <em><%= planta.sciName %></em></h4>
        </div>
        <!--contenedor con form-->
        <div class="container">
            <form action="#" method="post">
                <div id="accordion">
                    <!-- collapse info planta-->
                    <div class="card">
                        <div class="card-header ">
                        <a class="btn" data-bs-toggle="collapse" href="#info_plant">
                            <h5>1. Información de la planta</h5>
                        </a>
                        </div>
                        <!-- body collapse-->
                        <div id="info_plant" class="collapse show" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col form-floating mb-3">
                                        <input type="text" class="form-control border border-success" id="sci_name" name="sciName" value="<%= planta.sciName %>" placeholder="Name name">
                                        <label for="sci_name" class="mx-2">Nombre Científico</label>
                                    </div>
                                    <div class="col form-floating">
                                        <input type="text" class="form-control border border-success" id="com_name" name="comName" value="<%= planta.comName %>" placeholder="Name">
                                        <label for="com_name" class="mx-2">Nombre Común</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col form-floating mb-3">
                                        <input type="text" class="form-control border border-success" id="genus" name="genus" value="<%= planta.genus %>" placeholder="Genus">
                                        <label for="genus" class="mx-2">Género</label>
                                    </div>
                                    <div class="col form-floating">
                                        <input type="text" class="form-control border border-success" id="family" name="family" value="<%= planta.family %>" placeholder="Family">
                                        <label for="family" class="mx-2">Familia</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col form-floating mb-3">
                                        <input type="text" class="form-control border border-success" id="distribution" name="distribution" value="<%= planta.distribution %>" placeholder="Genus">
                                        <label for="distribution" class="mx-2">Distribución</label>
                                    </div>
                                    <div class="col form-floating">
                                        <input type="text" class="form-control border border-success" id="habitat" name="habitat" value="<%= planta.habitat %>" placeholder="Habitat">
                                        <label for="habitat" class="mx-2">Hábitat</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col form-floating">
                                        <textarea class="form-control border border-success" name="description" placeholder="Leave a comment here" id="description"><%= planta.description %></textarea>
                                        <label for="description" class="mx-2">Descripcion</label>
                                    </div>
                                    <div class="col form-floating">
                                        <textarea class="form-control border border-success" name="curiosities" placeholder="Leave a comment here" id="curiosities"><%= planta.curiosities %></textarea>
                                        <label for="curiosities" class="mx-2">Curiosidades</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col form-floating">
                                        <textarea class="form-control border border-success" name="precautions" placeholder="Leave a comment here" id="precautions"><%= planta.precautions %></textarea>
                                        <label for="precautions" class="mx-2">Precauciones</label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col categories">
                                        <p>Categorias</p>
                                        <!-- row checkbox 1-->
                                        <div class="row mb-1">
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox1" name="categories" value="Interior" <% if (categories.includes('Interior')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox1">Interior</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox2" name="categories" value="Exterior" <% if (categories.includes('Exterior')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox2">Exterior</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox3" name="categories" value="Carnívora" <% if (categories.includes('Carnívora')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox3">Carnívora</label>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- row checkbox 2-->
                                        <div class="row mb-1">
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox4" name="categories" value="Exótica" <% if (categories.includes('Exótica')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox4">Exótica</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox5" name="categories" value="Suculenta" <% if (categories.includes('Suculenta')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox5">Suculenta</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox6" name="categories" value="Con Flor" <% if (categories.includes('Con Flor')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox6">Con Flor</label>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- row checkbox 3-->
                                        <div class="row mb-1">
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox7" name="categories" value="Sin Flor" <% if (categories.includes('Sin Flor')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox7">Sin Flor</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox8" name="categories" value="Perenne" <% if (categories.includes('Perenne')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox8">Perenne</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox9" name="categories" value="Caduca" <% if (categories.includes('Caduca')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox9">Caduca</label>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- row checkbox 4-->
                                        <div class="row">
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox10" name="categories" value="Herbácea" <% if (categories.includes('Herbácea')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox10">Herbácea</label>
                                            </div>
                                            </div>
                                            <div class="col-md-4">
                                            <div class="custom-control custom-checkbox d-flex">
                                                <input type="checkbox" class="custom-control-input w-25" id="checkbox11" name="categories" value="Leñosa" <% if (categories.includes('Leñosa')) { %>checked<% } %>>
                                                <label class="custom-control-label" for="checkbox11">Leñosa</label>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p>Imagenes</p>
                                        <div>
                                            <div class="col form-floating">
                                            <textarea class="form-control border border-success" name="images" placeholder="Leave a comment here" id="images"><%= planta.images %></textarea>
                                            <label for="images" class="mx-2">Rutas imagenes</label>
                                            </div>
                                            <small><span style="color: red;">*</span>La ruta de las imagenes deben de 
                                            la siguiente estructura: <em>/images/plantas/nombre_carpeta/imagen,/images/plantas/nombre_carpeta/imagen</em> separadas con coma
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse attendance-->
                    <div class="card">
                        <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#attendance_plant">
                            <h5>2. Cuidados</h5>
                        </a>
                        </div>
                        <div id="attendance_plant" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="table_attendances mx-4">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col" class="text-center text-uppercase">Código</th>
                                            <th scope="col" class="text-center text-uppercase">nombre</th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tr_symptoms">
                                            <% if(attendances && attendances.length > 0) { %>
                                                <% attendances.forEach((attendance) =>{ %>
                                                <tr>
                                                    <td class="text-center"><%= attendance._id %></td>
                                                    <td class="text-center"><%= attendance.codAttendace %></td>
                                                    <td class="text-center">
                                                        <% if (planta.attendance && planta.attendance.equals(attendance._id)) { %>
                                                            <input type="checkbox" name="attendance" value="<%= attendance._id %>" id="<%= attendance._id %>" checked>
                                                        <% } else { %>
                                                            <input type="checkbox" name="attendance" value="<%= attendance._id %>" id="<%= attendance._id %>">
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            <% } else {%>
                                                <p class="text-center text-uppercase fs-6"> sin datos para mostrar </p>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- collapse Symtomp-->
                    <div class="card">
                        <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#symptoms_plant">
                            <h5>3. Síntomas</h5>
                        </a>
                        </div>
                        <div id="symptoms_plant" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="table_symptoms mx-4">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col" class="text-center text-uppercase">Código</th>
                                        <th scope="col" class="text-center text-uppercase">nombre</th>
                                        <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tr_symptoms">
                                        <% if(symptoms && symptoms.length > 0) { %>
                                            <% symptoms.forEach((symptom) =>{ %>
                                                <tr>
                                                    <td class="text-center"><%= symptom.codSymptom %></td>
                                                    <td class="text-center"><%= symptom.title %></td>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="symptoms" value="<%= symptom._id %>" id="<%= symptom._id %>" <% if (planta.symptoms.some(s => s._id.toString() === symptom._id.toString())) { %>checked<% } %>>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } else {%>
                                            <p class="text-center text-uppercase fs-6"> sin datos para mostrar </p>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- collapse suppliers-->
                    <div class="card">
                        <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#suppliers_plant">
                            <h5>4. Proveedores</h5>
                        </a>
                        </div>
                        <div id="suppliers_plant" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="table_suppliers mx-4">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col" class="text-center text-uppercase">Código</th>
                                        <th scope="col" class="text-center text-uppercase">nombre</th>
                                        <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tr_symptoms">
                                        
                                        <% if(suppliers && suppliers.length > 0) { %>
                                            <% suppliers.forEach((supplier) =>{ %>
                                            <tr>
                                                <td class="text-center"><%= supplier.codSupplier %></td>
                                                <td class="text-center"><%= supplier.name %></td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="suppliers" value="<%= supplier._id %>" id="<%= supplier._id %>" <% if (planta.suppliers.some(s => s._id.toString() === supplier._id.toString())) { %>checked<% } %>>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        <% } else {%>
                                            <p class="text-center text-uppercase fs-6"> sin datos para mostrar </p>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END MAIN -->

    <!-- STAR FOOTER -->
    <footer>
        <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER -->
</body>
</html>