<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head');%>
</head>
<body>
    <!-- STAR HEADER -->
    <header>
        <%- include('partials/headerUser');%>
    </header>
    <!-- END HEADER-->

    <!-- STAR BREADCRUMB -->
    <div class="container-fluid py-1 mb-0" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page"><a href="/suppliers/list">proveedores</a></li>
                <li class="breadcrumb-item text-uppercase text-white active" aria-current="page"><%= proveedor.name %></li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUMB -->

    <!-- STAR MAIN -->
    <% if (proveedor) { %>
        <div class="container-fluid mb-4">
            <div class="m-auto my-4">
                <h3 class="text-center">EDITAR PROVEEDOR: <%= proveedor.codSupplier %></h3>
            </div>
            <div class="col-sm-8 m-auto" id="editForm">
                <form method="post" action="/suppliers/update" class="row g-3 justify-content-around" >
                    <input id="id" name="_id" type="text" value="<%= proveedor._id %>" hidden>
                    <div class="col-sm-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="name" id="full_name" value="<%= proveedor.name %>" placeholder="Nombre Apellido">
                            <label for="full_name">Nombre Comercial</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" name="email" id="emaiL" value="<%= proveedor.email %>" placeholder="name@example.com">
                            <label for="email">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="url" id="url" value="<%= proveedor.url %>" placeholder="Nombre Apellido">
                            <label for="url">URL</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="address" id="address" value="<%= proveedor.address %>" placeholder="direccion">
                            <label for="address">Dirección</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="locality" id="locality"  value="<%= proveedor.locality %>"placeholder="localidad">
                            <label for="locality">Localidad</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="number" class="form-control" name="phone" id="phone" value="<%= proveedor.phone %>" placeholder="Telefono">
                            <label for="phone">Teléfono</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="plants" id="plants" value="<%= proveedor.plants %>" placeholder="Plantas">
                            <label for="plants">Plantas</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-lg-center mb-3">
                        <button type="submit" class="btn ml-auto rounded-pill px-5" id="btnUpdate">MODIFICAR CAMBIOS</button>
                    </div>
                </form>
            </div>
            <div class="mx-5">
                <a href="/suppliers/list" class="backLink"><i class="bi bi-skip-backward-fill"></i> | Volver</a>
            </div>
        </div>
        <% } %>
        <!-- END MAIN -->

    <!-- STAR FOOTER -->
    <footer>
        <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER -->
</body>
</html>