<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head');%>
</head>
<body id="filePlant">
    <!-- STAR MODAL -->
    <div id="mapModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center text-uppercase">Ubicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="supplierMap" style="height: 400px;" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL-->
   
    <!-- START HEADER-->
    <header>
        <% if (userCookie === '') { %>
            <%- include('partials/header'); %>
        <% } else {%>
            <%- include('partials/headerUser');%>
        <%}%>
    </header>
    <!-- END HEADER-->

    <!-- START BREADCRUM-->
    <div class="container-fluid py-1 mb-0" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page"><a href="/plants/list">plantas</a></li>
                <li class="breadcrumb-item text-uppercase text-white active" aria-current="page"><a href="#"><%= planta.sciName %></a></li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUM-->

    <!-- START MAIN-->
    <div class="container-fluid">
        <!-- ROW 1 -  name plant -->
        <div class="row m-2 my-4 d-flex flex-colum align-items-center justify-content-between">
            <h2 class="col-10 text-center text-uppercase"><%= planta.comName %></h2>
            <form action="/gardens/insert-plant" class="col" method="post">
                <input type="text" name="idPlant" value="<%= planta._id %>" hidden>
                <button type="submit" class="btn btn-outline-success"> Add | <i class="bi bi-plus-circle-fill"></i></button>
            </form>
        </div>
        <!-- ROW 2 - mosaic images plant -->
        <div class="row mx-5 mb-4 justify-content-evenly">
            <div class="row m-auto mx-5">
                <!-- col 1 -->
                <div class="col-lg-4 col-md-12 mb-lg-0">
                    <img
                    src="<%= planta.images[1] %>"
                        class="img-fluid w-100 shadow-1-strong rounded d-block center-block"
                        alt="Maceta con arbol, representacion categoria exterior"
                    />
                </div>
                <!-- col 2 -->
                <div class="col-lg-8 mt-3 mb-lg-0">
                    <!-- row 1 - categoria suculenta-->
                    <div class="row d-flex justify-content-around mb-3">
                        <!-- col 1 - categoria exotica-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pb-0">
                            <div class="pb-0">
                                <img
                                src="<%= planta.images[2] %>"
                                class="w-75 shadow-1-strong rounded mx-auto d-block center-block"
                                alt="Maceta Venus atrapamosca"
                                />
                            </div>
                        </div>
                        <!-- col 2 - categoria interior-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pb-0 category_int">
                            <div class="pb-0">
                                <img
                                    src="<%= planta.images[3] %>"
                                    class="w-75 shadow-1-strong rounded mx-auto d-block"
                                    alt="Boat on Calm Water"
                                    />
                            </div>
                        </div>
                    </div>
                    <!-- row 2 -->
                    <div class="row d-flex justify-content-around">
                        <!-- col 1 - categoria exotica-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pb-0">
                            <div class="pb-0">
                                <img
                                src="<%= planta.images[4] %>"
                                class="w-75 shadow-1-strong rounded mx-auto d-block center-block"
                                alt="Maceta Venus atrapamosca"
                                />
                            </div>
                        </div>
                        <!-- col 2 - categoria interior-->
                        <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pb-0 category_int">
                            <div class="pb-0">
                                <img
                                    src="<%= planta.images[5] %>"
                                    class="w-100 shadow-1-strong rounded mx-auto d-block"
                                    alt="Boat on Calm Water"
                                    />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW 3 - description plant -->
        <hr class="mx-5">
            <div class="row mx-5">
                <em><p class="text-center"><%= planta.description %></p></em>
            </div>
        <hr class="mx-5">
        <!-- ROW 4 - tabs informations plant -->
        <div class="row mx-5 my-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs ">
                <li class="nav-item">
                    <a class="nav-link active text-dark" data-bs-toggle="tab" href="#information">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-bs-toggle="tab" href="#attendance">Cuidados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-bs-toggle="tab" href="#disease">Enfermedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" data-bs-toggle="tab" href="#supplier">Distribuidores</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content rounded-2">
                <div class="tab-pane container active" id="information">
                    <div class="p-4">
                        <h6 class="mb-3"> <i class="bi bi-bookmark-fill"></i> Categorias: <%= categories %> </h6>
                        <div class="row py-2 justify-content-around bg-light bg-opacity-75  rounded-2">
                            <div class="col-sm-5">
                                <p><b>Nombre Común:</b> <%= planta.comName %></p>
                                <p><b>Nombre Científico:</b> <%= planta.sciName %></p>
                                <p><b>Familia:</b> <%= planta.family %></p>
                                <p><b>Género:</b> <%= planta.genus %></p>
                                <p><b>Distribución:</b> <%= planta.distribution %></p>
                                <p><b>Hábitat:</b> <%= planta.habitat %> </p>
                            </div>
                            <div class="col-sm-5">
                                <p><b>Curiosidades: </b> <%= planta.curiosities %></p>
                                <p><b>Precauciones:</b> <%= planta.precautions %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="attendance">
                    <% if (userCookie === '') { %>
                        <div class="m-5 bg-light bg-opacity-75 p-5 content">
                            <div>
                                <p class="fs-3 text-center">Si quiere ver más información </p>
                                <p class="fs-3 text-center"><a href="../../session"> Inicie sesión</a>.</p>
                                <img src="/images/page/Logo_Small.png" class="logo_reducido  mx-auto d-block" alt="Logo reducido de plantarium">
                            </div>
                        </div>
                    <% } else {%>
                        <div class="p-4">
                            <h6 class="mb-3"> <i class="bi bi-bookmark-fill"></i> Categorias: <%= categories %> </h6>
                            <div class="row py-2 justify-content-around bg-light bg-opacity-75 rounded-2">
                                <% if (planta.attendance !== undefined && planta.attendance!== null) { %>
                                <div class="col-sm-5">
                                    <p><b>Riego:</b> <%= planta.attendance.water %> </p>
                                    <p><b>Sustrato: </b> <%= planta.attendance.soil %></p>
                                    <p><b>Abono:</b> <%= planta.attendance.compost %></p>
                                    <p><b>Iluminacion:</b>  <%= planta.attendance.lightning %></p>
                                    <p><b>Humedad:</b> <%= planta.attendance.moisture %></p>
                                    <p><b>Temparatura:</b> <%= planta.attendance.temperature %></p>
                                </div>
                                <div class="col-sm-5">
                                    <p><b>Comentarios:</b> <%= planta.attendance.comment %></p>
                                </div>
                                <% } else {%>
                                    <p class="text-center mb-0 text-uppercase fs-6"> sin datos para mostrar </p>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                </div>
                <div class="tab-pane container fade" id="disease">
                    <% if (userCookie === '') { %>
                        <div class="m-5 bg-light bg-opacity-75 p-5 content">
                            <div>
                                <p class="fs-3 text-center">Si quiere ver más información</p>
                                <p class="fs-3 text-center"><a href="../../session"> Inicie sesión</a>.</p>
                                <img src="/images/page/Logo_Small.png" class="logo_reducido  mx-auto d-block" alt="Logo reducido de plantarium">
                            </div>
                        </div>
                    <% } else {%>
                        <div class="p-4">
                            <h6 class="mb-3"> <i class="bi bi-bookmark-fill"></i> Categorias: <%= categories %> </h6>
                            <div class="row py-2 justify-content-around bg-light bg-opacity-75  rounded-2">
                                <% if (planta.symptoms.length > 0) { %>
                                <div id="accordion m-2">
                                    <% planta.symptoms.forEach((symptom) =>{ %>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="btn" data-bs-toggle="collapse" href="#<%= symptom.codSymptom %>">
                                                <h5><%= symptom.title %></h5>
                                            </a>
                                        </div>
                                        <div id="<%= symptom.codSymptom %>" class="collapse" data-bs-parent="#accordion">
                                            <div class="card-body row justify-content-around">
                                                <div class="col-sm-5">
                                                    <p><b>Descripcion del sintoma:</b> <%= symptom.description %></p>
                                                    <hr>
                                                    <p><b>Enfermedad:</b> <%= symptom.disease.name %></p>
                                                    <p><b>Causa:</b> <%= symptom.disease.cause %></p>
                                                    <p><b>Descripcion de la enfermedad:</b> <%= symptom.disease.description %></p>
                                                </div>
                                                <div class="col-sm-5">
                                                    <p><b>Periodo Tratamiento:</b> <%= symptom.disease.treatment.period %></p>
                                                    <p><b>Aplicación:</b> <%= symptom.disease.treatment.application %></p>
                                                    <p><b>Comentario:</b> <%= symptom.disease.treatment.comment %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <% } else {%>
                                    <p class="text-center mb-0 text-uppercase fs-6"> sin datos para mostrar </p>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                </div>
                <div class="tab-pane container fade" id="supplier">
                    <div class="m-5 bg-light bg-opacity-75 p-2 content">
                        <% if (planta.suppliers.length > 0) { %>
                            <% planta.suppliers.forEach((supplier) =>{ %>
                            <div class="row border border-dark border-1 mx-2">
                                <div class="col-sm-10 p-2 pb-0 pt-1">
                                    <h5><%= supplier.name%>  <a href="<%= supplier.url%>" target="_blank"><i class="bi bi-box-arrow-up-right" style="color: black; font-size: 1rem;"></i></a></h5>
                                    <div class="d-flex align-items-baseline justify-content-between">
                                        <p class="d-inline mr-2 mb-0"><i class="bi bi-telephone-fill"></i>  <%= supplier.phone%></p> <br>
                                        <p class="d-inline mr-2 mb-0"><i class="bi bi-geo-alt-fill"></i>  <%= supplier.address%></p>
                                        <p class="d-inline mb-0"><i class="bi bi-envelope-at-fill"></i>  <%= supplier.email%></p>
                                    </div>
                                </div>
                                <div class="col-sm-2 d-flex align-items-center justify-content-center flex-column">
                                    <a href="" class="text-dark map-link" data-coordinates="<%= supplier.ubicacion.coordinates %>">
                                        <i class="bi bi-map-fill" style="font-size: 1.25rem;"></i> 
                                        See Map
                                    </a>
                                </div>
                            </div>
                            <% }) %>
                        <% } else {%>
                            <p class="text-center mb-0 text-uppercase fs-6"> sin datos para mostrar </p>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCRUM-->

    <!-- START FOOTER-->
    <footer>
        <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER-->
    <script>           
        
        document.addEventListener('DOMContentLoaded', function() {
            const mapLinks = document.getElementsByClassName('map-link');
            const modal = new bootstrap.Modal(document.getElementById('mapModal'));
            
            for (let i = 0; i < mapLinks.length; i++) {
                mapLinks[i].addEventListener('click', function(event) {
                    //evitamos el comportamiento predeterminado de click
                    event.preventDefault();
                    //capturamos las coordenadas del proveedor
                    const coordinates = this.getAttribute('data-coordinates').split(',').map(Number);
                    // creamos una intancia de mapa map 
                    const supplierMap = L.map('supplierMap').setView(coordinates, 15);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
                        maxZoom:19
                    }).addTo(supplierMap);
                    // se añade el iconito de ubicacion al mapa
                    L.marker(coordinates).addTo(supplierMap);
                    //mostreamos el modal
                    modal.show();
                });
            }
        });
    </script>
</body>
</html>
