<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head');%>
</head>
<body id="garden">
    <!-- STAR HEADER -->
    <header>
        <%- include('partials/headerUser');%>
    </header>
    <!-- END HEADER -->

    <!-- STAR BREADCRUMB -->
    <div class="container-fluid py-1 mb-0" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">garden </li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUMB -->
    <!-- END MAIN -->
    <div class="container-fluid m-auto">
        <div class="row m-4">
            <h3 class="text-center text-uppercase"> <%= garden.name %> </h3>
        </div>
        <div class="mx-5 mb-4">
            <div class="mx-5">
                <div class="container-garden p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-5 align-items-center gx-3">
                        <% if (garden.plants.length > 0) { %>
                            <div class="col-sm- bg-light bg-opacity-25 border border-black border-1 mx-4 p-0 d-flex justify-content-center">
                                <i class="bi bi-tree-fill" style="color: black; font-size: 10rem;"></i>
                            </div>
                            <% garden.plants.forEach((plant) =>{ %>
                            <div class="col-sm- bg-light bg-opacity-25 border border-black border-1 mx-4 p-0">
                                <form action="/gardens/delete-plant" class=" d-flex justify-content-end my-0" method="post">
                                    <input type="text" name="idPlant" id="idPlant" value="<%= plant.codPlant %>" hidden>
                                    <input type="text" name="idGarden" id="idGarden" value="<%= garden._id %>" hidden>
                                    <button type="submit" class="btn py-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                        <i class="bi bi-x-square-fill fs-4 delete_plant" style="color: red;"></i>
                                    </button>
                                </form>
                                <a href="/plants/list/<%= plant._id %>" class="text-decoration-none text-dark">
                                    <img src="<%= plant.images[0] %>" class="w-50 mx-auto d-block mt-2" alt="Imagen de <%= plant.comName %>">
                                    <h4 class="text-uppercase text-center"><%= plant.sciName %></h4>
                                </a>
                            </div>
                            <% }) %>
                        <% } else {%>
                            <div class="col-sm- bg-light bg-opacity-25 border border-black border-1 mx-4 p-0 d-flex justify-content-center">
                                <i class="bi bi-tree-fill" style="color: black; font-size: 10rem;"></i>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN -->

    <!-- STAR FOOTER -->
    <footer>
        <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER -->
</body>
</html>