<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head');%>
  </head>
  <body id="home">
    <!-- START HEADER-->
    <header>
      <% if (userCookie === '') { %>
        <%- include('partials/header'); %>
      <% } else {%>
        <%- include('partials/headerUser');%>
      <%}%>
    </header>
    <!-- END HEADER-->

    <!-- START BREADCRUM-->
    <div class="container-fluid py-1 mb-0" id="breadcrumb">
      <nav class="mx-4 mt-3" aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">You Are Currently Here!</li>
              <li class="breadcrumb-item text-uppercase text-white active" aria-current="page"><a href="/">Home</a></li>
          </ol>
      </nav>
  </div>
    <!-- END BREADCRUM-->

    <!-- START MAIN-->
    <div class="container-fluid">
      <!-- row 1 - carousel info-->
      <div class="row m-0">
        <!--carousel-->
        <div class="carousel carousel-dark slide  w-100" data-bs-ride="carousel" id="carousel_flower">
          <!-- the slideshow-->
          <div class="carousel-inner">
            <!-- item 1-->
            <div class="carousel-item active" data-bs-interval="10000">
              <img class="d-block w-50 p-0" src="/images/page/flor_01.webp" alt="">
              <div class="carousel-overlay">
                <div class="carousel-caption mb-5">
                  <h2>Aizoaceae</h2>
                  <h5 class="pb-2">01 Julio</h5>
                  <p>Del del griego <em>aei</em> (siempre) y <em>zoon</em> (ser vivo), porque las hojas
                    siempre están verdes. Se le atribuye a personas alegres y al mérito. </p>
                </div>
              </div>
            </div>
            <!--item 2-->
            <div class="carousel-item" data-bs-interval="10000">
              <img class="d-block  w-50 p-0" src="/images/page/flor_02.jpg" alt="">
              <div class="carousel-overlay">
                <div class="carousel-caption mb-5">
                  <h3>Boca de Dragon</h3>
                  <h5 class="pb-2">02 Julio</h5>
                  <p>Pueden representar la fuerza, ya que son capaces de crecer en 
                    zonas rocosas, típicamente inhabitables, pero también pueden 
                    simbolizar temas como la desviación y la gracia.
                  </p>
                </div> 
              </div>
            </div>
            <!--item 3-->
            <div class="carousel-item" data-bs-interval="10000">
              <img class="d-block w-50 p-0" src="/images/page/flor_07.jpg" alt="">
              <div class="carousel-overlay">
                <div class="carousel-caption mb-5">
                  <h3 class="">Girasol</h3>
                  <h5 class="pb-2">07 Julio</h5>
                  <p>Los girasoles son reconocidos como el símbolo del sol 
                    y simbolizan el amor y la admiración. También se cree que
                    son símbolos de la felicidad, la vitalidad, el positivismo y 
                    la energía.
                  </p>
                </div>  
              </div>
            </div>
          </div>
          <!-- Left and right controls/icons -->
          <div class="carousel-panel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_flower" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel_flower" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- row 2 - categories mosaic -->
      <div class="row m-5">
        <div class="row mb-4">
          <h2 class="text-center">TOP CATEGORIAS</h2>
          <%- include('partials/dividing_line');%>
          <h5 class="text-center">El amor por la jardinería es una semilla que una vez sembrada nunca muere -- Gertrude Jekyll.</h5>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn rounded-pill btnViewMore"><a href="/plants/list">VIEW MORE</a></button>
          </div>
        </div>
        <div class="row m-auto">
          <!-- col 1 - categoria exterior-->
          <div class="col-lg-4 col-md-12 pt-4 pb-0 mb-lg-0 category_ext">
            <h3 class="text-center">EXTERIOR</h3>
            <img
              src= "images/page/Categoria_Exterior.jpg"
              class="img-fluid w-100 shadow-1-strong rounded"
              alt="Maceta con arbol, representacion categoria exterior"
            />
          </div>
          <!-- col 2 -->
          <div class="col-lg-8 mb-4 mb-lg-0">
            <!-- row 1 - categoria suculenta-->
            <div class="row">
              <div class="pt-3 pb-0 category_suc">
                <h3 class="text-center">SUCULENTAS</h3>
                <img
                src="images/page/categoria_suculentas.jpg"
                class="w-50 shadow-1-strong rounded mx-auto d-block center-block"
                alt="macetas de suculentas" /> 
              </div>
            </div>
            <!-- row 2 -->
            <div class="row d-flex justify-content-around">
              <!-- col 1 - categoria exotica-->
              <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pt-4 pb-0 category_exo">
                <div class="mx-5 pt-4 pb-0">
                  <h3 class="text-center">EXÓTICAS</h3>
                  <img
                  src="images/page/categoria_exotica.jpg"
                  class="w-75 shadow-1-strong rounded mx-auto d-block center-block"
                  alt="Maceta Venus atrapamosca"
                  />
                </div>
              </div>
              <!-- col 2 - categoria interior-->
              <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 pt-4 pb-0 category_int">
                <div class="mx-5 pt-4 pb-0">
                  <h3 class="text-center">INTERIOR</h3>
                <img
              src="images/page/Category_Interior.png"
              class="w-100 shadow-1-strong rounded mx-auto d-block"
              alt="Boat on Calm Water"
            />
                </div>
            <!--src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"-->
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- row 3 - icons info-->
      <div class="row d-flex justify-content-around iconInfo">
        <div class="col-sm-3 py-4">
          <div class="row text-center rounded-circle p-5 mb-3 circle_icon">
            <i class="bi bi-shield-fill-check" style="font-size: 3rem; color: #006837;"></i>
          </div>
          <h3 class="text-center">100% Seguro</h3>
        </div>
        <div class="col-sm-3 py-4">
          <div class="row text-center rounded-circle p-5 mb-3 circle_icon d-flex justify-content-center">
            <i class="bi bi-arrow-repeat" style="font-size: 3.25rem; color: #006837;"></i>
          </div>
          <h3 class="text-center">100% Actualizado</h3>
        </div>
        <div class="col-sm-3 py-4">
          <div class="row text-center rounded-circle p-5 mb-3 circle_icon">
            <i class="bi bi-person-heart" style="font-size: 3.25rem; color: #006837;"></i>
          </div>
          <h3 class="text-center">95% Satisfacción</h3>
        </div>
      </div>
      <!-- row 1 - news additions-->
      <div class="row m-5">
        <div class="row mb-4">
          <h2 class="text-center"> PROXIMAS INCORPORACIONES</h2>
          <%- include('partials/dividing_line');%>
        </div>
        <div class="row m-autos justify-content-around">
          <div class="card card_index col-sm-3 p-0 mt-1">
            <div class="aspect-ratio">
              <img src="/images/page/proxima1.jpg" alt="Imagen de planta" class="img-fluid card-img-top img-index" style="object-fit: fill;">

            </div>
            <div class="card-overlay">
              <h4 class="card-title name-plant text-center text-uppercase">Hemerocallis</h4>
            </div>
          </div>
          <div class="card card_index col-sm-3 p-0 mt-1">
            <div class="aspect-ratio">
              <img src="/images/page/proxima3.jpg" alt="Imagen de planta" class="img-fluid card-img-top img-index" style="object-fit: fill;">
            </div>
            <div class="card-overlay">
              <h4 class="card-title name-plant text-center text-uppercase">Lirio africano</h4>
            </div>
          </div>
          <div class="card card_index col-sm-3 p-0 mt-1">
            <div class="aspect-ratio">
              <img src="/images/page/proxima2.jpeg" alt="Imagen de planta" class="img-fluid card-img-top img-index" style="object-fit: fill;">
            </div>
            <div class="card-overlay">
              <h4 class="card-title name-plant text-center text-uppercase">Aster de china</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN-->

    <!-- START FOOTER-->
    <footer>
      <%- include('partials/footer');%>
    </footer>
    <!-- END FOOTER-->
  </body>
</html>
