<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head');%> <!-- TODO IF COOKIE HEADERUSER-->
    </head>
    <body id="plants">
        <!-- STAR HEADER -->
        <header>
            <% if (userCookie === '') { %>
                <%- include('partials/header'); %>
            <% } else {%>
                <%- include('partials/headerUser');%>
            <%}%>
        </header>
        <!-- END HEADER-->

        <!-- STAR BREADCRUMB -->
        <div class="container-fluid py-1 mb-0" id="breadcrumb">
            <nav class="mx-4 mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">You Are Currently Here!</li>
                    <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">PLANTS</li>
                </ol>
            </nav>
        </div>
        <!-- END BREADCRUMB -->

        <!-- STAR MAIN -->
        <div class="container-fluid mb-4 mt-0 p-0" id="main">
            <!-- ROW 1 - Filter-->
            <div class="row m-auto border-bottom border-success border-1">
                <h4 class="text-center mt-2">FILTRO</h4>
                <form class="row g-3 mb-3 mt-0 justify-content-around">
                    <div class="col-auto">
                        <label for="search" class="form-label">Buscar:</label>
                        <input type="text" class="form-control" name = "search" id="search" placeholder="Type to search">
                    </div>
                    <div class="col-auto">
                        <label for="lista_catgoria" class="form-label">Categoría: </label>
                        <input class="form-control" list="datalistCategories" id="lista_catgoria" name="category" placeholder="Type to search...">
                        <datalist id="datalistCategories">
                            <option value="Interior">
                            <option value="Exterior">
                            <option value="Exótica">
                            <option value="Suculenta">
                            <option value="Herbácea">
                            <option value="Leñosa">
                            <option value="Estacional">
                            <option value="No estacional">
                            <option value="Carnñivora">
                            <option value="Con flor">
                            <option value="Sin flor">
                        </datalist>
                    </div>
                    <div class="col-auto">
                        <label for="select_orden_alfabético" class="form-label">Orden Alfabético:</label>
                        <select class="form-select form-select-md" aria-label="Ejemplo de .form-select-sm" id="select_orden_alfabético">
                            <option selected>---</option>
                            <option value="ASC">Ascendente</option>
                            <option value="DESC">Descendente</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mt-4">Filtrar</button>
                    </div>
                </form>
            </div>
            <!-- ROW 2 - Cards -->
            <div class="row row-cols-1 row-cols-md-3 g-5 mx-5 mb-4 mt-2">
                <% plants.forEach((plant) =>{ %>
                    <div class="col">
                        <div class="card card-plant h-100 m-auto">
                            <img src="<%= plant.images[0] %>" class="card-img-top" alt="Imagen de la planta <%= plant.comName %>"> <!-- da un error ... porque no se tiene imagen-->
                            <div class="card-body">
                                <h5 class="card-title text-uppercase text-center"><%= plant.comName %></h5>
                                <small><i class="bi bi-bookmark-fill"> <%= plant.categories %></i></small>
                                <div class=" m-2">
                                    <p class="card-text"><%= plant.description %></p>
                                </div>
                                <a href="list/<%= plant._id %>" class="btn"><b>Read more <i class="bi bi-arrow-bar-right"></i></b></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </form>
        </div>
        <!-- END MAIN -->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->
    </body>
</html>
