<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head');%>
    </head>
    <body id="session">
    <!-- STAR HEADER -->
        <header>
            <%- include('partials/headerUser');%>
        </header>
        <!-- END HEADER-->

        <!-- STAR MODAL -->
        <div class="modal fade" id="modalConfirmDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header p-1">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img id="logoModal" src="images/page/Logo_Small.png" alt="logo pequeño plantarium.">
                        <h3>CONFIRM DELETION</h3>
                        <h5><%= user.username %></h5>
                        <p>¿Estás seguro de que quieres borrar este usuario?</p>
                        <p>Este proceso no se puede deshacer</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <form method="post" action="/users/delete">
                            <input type="text" name="id" id="iduser" value="<%= user._id %>" hidden>
                            <button type="submit" class="btn rounded-pill" id="delete_profile">DELETE PROFILE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- STAR BREADCRUMB -->
        <div class="container-fluid py-1 mb-1" id="breadcrumb">
            <nav class="mx-4 mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">You Are Currently Here!</li>
                    <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-uppercase text-white" aria-current="page">PROFILE</li>
                    <li class="breadcrumb-item text-uppercase text-white active" aria-current="page"><%= user.username %></li>
                </ol>
            </nav>
        </div>
        <!-- END BREADCRUMB -->

        <!-- STAR MAIN -->
        <div class="container-fluid">
            <div class="row m-5">
                <div class="col-sm-4 m-auto">
                    <img src="<%= imageUrl %>" alt="Imagen de perfil">
                </div>
                <div class="col-sm-4 m-auto" id="infoUser">
                    <p><b>Nombre:</b> <%= user.fullname %></p>
                    <p><b>Email:</b> <%= user.email %></p>
                    <p><b>Direccion:</b> <%= user.address %></p>
                    <p><b>Télefono:</b> <%= user.phone %></p>
                    <p><b>Localidad:</b> <%= user.locality %></p>
                    <p><b>Fecha de nacimiento:</b> <%= fechaNac %></p>
                    <p><b>Tipo de suscripción:</b> <%= user.subscripcion %></p>
                </div>
                <div class="col-sm-2">
                    <div class="mb-4">
                        <a id="btn_edit" class="p-2 rounded-2" href="/user/editS"><i class="bi bi-pencil-square"></i> | Editar</a>
                    </div>
                    <div class="mb-4">
                        <button type="button" id="btn_delete" class="btn " data-bs-toggle="modal" data-bs-target="#modalConfirmDelete">
                            <i class="bi bi-trash3-fill"></i> | Eliminar
                        </button>
                          
                        <!-- <a id="btn_delete" class="p-2 rounded-2 text-decoration-none" href=""><i class="bi bi-trash3-fill"></i> | Eliminar</a> -->
                    </div>
                </div>
            </div>
            <hr class="mx-5">
            <div class="row m-5  justify-content-center">
                <h2 class="text-center mb-0">MI JARDIN</h2>
                <%- include('partials/dividing_line');%>
                <div class="card px-0 mt-2" style="width:500px">
                    <img class="card-img-top" src="/users/images/img_card_backgroud.webp"  alt="Card image">
                    <div class="card-img-overlay" >
                            <div class="fondoGarden mb-2 p-2">
                                <h4 class="card-title">TITULO JARDIN DEL USUARIO</h4>
                                <p class="card-text text-wrap">
                                    Planta tu propio jardín y decora tu alma, en lugar de esperar a que alguien te traiga flores - Jorge Luis Borges </p>
                            </div>
                            <a href="#" class="btn btn-primary">Go to garden</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN-->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->
    </body>
</html>