<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head');%>
    </head>
    <body id="admin">
    <!-- STAR HEADER -->
        <header>
            <%- include('partials/headerUser');%>
        </header>
        <!-- END HEADER-->

        <!-- STAR BREADCRUMB -->
        <div class="container-fluid py-1 mb-1" id="breadcrumb">
            <nav class="mx-4 mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">You Are Currently Here!</li>
                    <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-uppercase text-white" aria-current="page">PROFILE</li>
                    <li class="breadcrumb-item text-uppercase text-white active" aria-current="page"><%= user.username %></li>
                </ol>
            </nav>
        </div>
        <!-- END BREADCRUMB -->

        <!-- STAR MAIN -->
        <div class="container-fluid">
            <div class="row m-5">
                <div class="col-sm-4 m-auto">
                    <img src="<%= imageUrl %>" alt="Imagen de perfil">
                </div>
                <div class="col-sm-4 m-auto">
                    <p><b>Nombre:</b> <%= user.fullname %></p>
                    <p><b>Email:</b> <%= user.email %></p>
                    <p><b>Direccion:</b> <%= user.address %></p>
                    <p><b>Télefono:</b> <%= user.phone %></p>
                    <p><b>Localidad:</b> <%= user.locality %></p>
                    <p><b>Fecha de nacimiento:</b> <%= fechaNac %></p>
                </div>
                <div class="col-sm-2">
                    <a id="btn_edit" class="p-2 rounded-2" href="/edit"><i class="bi bi-pencil-square"></i> | Editar</a>
                </div>
            </div>
            <hr class="mx-5">
            <div class="row m-5 d-flex flex-column justify-content-center">
                <h2 class="text-center">ACCIONES</h2>
                <%- include('partials/dividing_line');%>
                <div class="icons_actions mt-3 d-flex flex- justify-content-around">
                    <div class="rounded-circle shadow py-5 px-5" id="action1">
                        <a href="" class="d-flex flex-column align-items-center text-decoration-none">
                            <i class="bi bi-tree-fill mb-1"></i>
                            <p>PLANTAS</p>
                        </a>
                    </div>
                    <div class="rounded-circle shadow py-5 px-4" id="action2">
                        <a href="" class="d-flex flex-column align-items-center text-decoration-none">
                            <i class="bi bi-archive-fill mb-1"></i>
                            <p>PROVEEDORES</p>
                        </a>
                    </div>
                    <div class="rounded-circle shadow py-5 px-4" id="action3">
                        <a href="" class="d-flex flex-column align-items-center text-decoration-none">
                            <i class="bi bi-graph-up-arrow mb-1"></i>
                            <p>ESTADISTICAS</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN-->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->
    </body>
</html>