<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head');%>
    </head>
    <body id="session">
        <!-- STAR HEADER -->
        <header>
            <%- include('partials/header');%>
        </header>
        <!-- END HEADER-->

        <!-- STAR BREADCRUMB -->
        <div class="container-fluid py-1 mb-1" id="breadcrumb">
            <nav class="mx-4 mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">You Are Currently Here!</li>
                    <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-uppercase text-white active" aria-current="page">Session</li>
                </ol>
            </nav>
        </div>
        <!-- END BREADCRUMB -->

        <!-- STAR MAIN -->
        <div class="container-fluid my-4 p-0" id="main">
            <div class="row m-auto">
                <!-- col login and info-->
                <div class="col-sm-4 m-auto" >
                        <!-- Login Form-->
                        <div class="row py-3 rounded mb-5" id="loginForm">
                            <h2 class="text-center">LOGIN</h2>
                            <form method="post" action="/users/signin" class="my-2 needs-validation" novalidate>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                    <label for="email">Correo electrónico</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                                    <label for="password">Contraseña</label>
                                    <button type="button" id="togglePassword" class="btn">
                                        <i class="bi bi-eye-slash-fill"></i>
                                    </button>
                                </div>
                                <div class="my-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="recordarLogin">
                                    <label class="form-check-label" for="recordarLogin"><small>Recordar</small></label>
                                    <small class=""><a href="/reset">Forgot your password?</a></small>
                                </div>
                                <!-- <div class="valid-feedback">
                                    Todos los campos son obligatorios
                                </div> -->
                                <% if (typeof errorLogin !== 'undefined' && errorLogin.length > 0) { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <small><%= errorLogin %></small>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                <% } %>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                    <button type="submit" class="btn ml-auto rounded-pill px-5" id="btnLogin">LOGIN</button>
                                </div>
                            </form>
                        </div>
                        <!-- Info Premium Subscription-->
                        <div class="row py-3 ">
                            <h3 class="text-center">SUSCRIPCIÓN PREMIUM</h3>
                            <div class="infoSuscription my-3">
                                <p>Modifica tu suscripción desde el perfil para:</p>
                                <p><i class="bi bi-check2-circle"></i> Plantas ilimiatadas en tu jardin</p>
                                <p><i class="bi bi-check2-circle"></i> Todos los cuidados del jardin a tu disposicion</p>
                                <p><i class="bi bi-check2-circle"></i> Todos los tratamientos del jardin a tu disposición</p>
                                <p><i class="bi bi-check2-circle"></i> Se el primmero en ver las novedades</p>
                            </div>
                            <div class="d-md-flex justify-content-md-center">
                                <img class="w-25" src="images/page/Logo_Small.png" alt="logo plantarium small">
                            </div>
                        </div>
                </div>
                <!-- col Register Form-->
                <div class="col-sm-4 m-auto mt-0 py-3 rounded" id="registerForm">
                    <h2 class="text-center">REGISTER</h2>
                    <form method="post" action="/users" class="my-2">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="fullname" id="full_name" placeholder="Nombre Apellido">
                            <label for="full_name">Nombre Completo</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Nombre">
                            <label for="username">Nombre de usuario</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" name="email" id="emaiL" placeholder="name@example.com">
                            <label for="email">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" name="password" id="password2" placeholder="Contraseña">
                            <label for="password">Contraseña</label>
                            <button type="button" id="togglePassword2" class="btn">
                                <i class="bi bi-eye-slash-fill"></i>
                            </button>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="date" class="form-control" name="birthdate" id="birth_date" placeholder="dd/mm/yyyy">
                            <label for="birth_date">Fecha nacimiento</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="address" id="address" placeholder="direccion">
                            <label for="address">Dirección</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="locality" id="locality" placeholder="localidad">
                            <label for="locality">Localidad</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefono">
                            <label for="phone">Teléfono</label>
                        </div>
                        <div class="my-3 form-check">
                            <input type="checkbox" class="form-check-input" id="newsletter" checked>
                            <label class="form-check-label" for="newsletter"><small>Quiero recibir información con las novedades</small></label>
                        </div>
                        <div class="my-3 form-check">
                            <input type="checkbox" class="form-check-input" id="aceptoPoliticas" name="termino_politicas">
                            <label class="form-check-label" for="recordarLogin"><small>Acepto los Términos y Política de Privacidad</small></label>
                        </div>
                        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                            <% errors.forEach(function(error) { %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <small><%= error.msg %></small>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <% }); %>
                        <% } %>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button type="submit" class="btn ml-auto rounded-pill px-5" id="btnRegister">REGISTER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END MAIN-->

        <!-- STAR FOOTER -->
        <footer>
            <%- include('partials/footer');%>
        </footer>
        <!-- END FOOTER -->

        <script>
            // Ejemplo de JavaScript inicial para deshabilitar el envío de formularios si hay campos no válidos
            (function () {
            'use strict'

            // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
            var forms = document.querySelectorAll('.needs-validation')

            // Bucle sobre ellos y evitar el envío
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
                })
            })()

            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');
            togglePassword.addEventListener('click', function (e) {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                this.querySelector('i').classList.toggle('bi-eye-fill');
                this.querySelector('i').classList.toggle('bi-eye-slash-fill');
            });

            const togglePassword2 = document.querySelector('#togglePassword2');
            const password2 = document.querySelector('#password2');
            togglePassword2.addEventListener('click', function (e) {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password2.setAttribute('type', type);
                this.querySelector('i').classList.toggle('bi-eye-fill');
                this.querySelector('i').classList.toggle('bi-eye-slash-fill');
            });
        </script>
    </body>
</html>