
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head');%>
</head>
<body id="editA">
    <!-- START HEADER -->
    <header> 
        <%- include('../partials/headerUser');%>
    </header>
    <!-- END HEADER-->

    <!-- START BREADCRUM -->
    <div class="container-fluid py-1 mb-1" id="breadcrumb">
        <nav class="mx-4 mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">You Are Currently Here!</li>
                <li class="breadcrumb-item text-uppercase text-white"><a href="/">Home</a></li>
                <li class="breadcrumb-item text-uppercase text-white" aria-current="page">PROFILE</li>
                <li class="breadcrumb-item text-uppercase text-white active" ria-current="page"> EDIT PROFILE</li>
            </ol>
        </nav>
    </div>
    <!-- END BREADCRUM-->

    <!-- STAR MAIN -->
    <% if (user) { %>
    <div class="container-fluid mb-4">
        <div class="m-auto mb-4">
            <h2 class="text-center">MIS DATOS</h2>
        </div>
        <div class="col-sm-8 m-auto" id="editForm">
            <form method="post" action="/users/update" class="row g-3 justify-content-around" >
                <input id="id" name="_id" type="text" value="<%= user._id %>" hidden>
                <div class="col-sm-5">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="fullname" id="full_name" value="<%= user.fullname %>" placeholder="Nombre Apellido">
                        <label for="full_name">Nombre Completo</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="username" id="username" value="<%= user.username %>" placeholder="Nombre">
                        <label for="username">Nombre de usuario</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" name="email" id="emaiL" value="<%= user.email %>" placeholder="name@example.com">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="date" class="form-control" name="birthdate" id="birth_date" value="<%= fecha %>" placeholder="dd/mm/yyyy">
                        <label for="birth_date">Fecha nacimiento</label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="address" id="address" value="<%= user.address %>" placeholder="direccion">
                        <label for="address">Dirección</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="locality" id="locality"  value="<%= user.locality %>"placeholder="localidad">
                        <label for="locality">Localidad</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" name="phone" id="phone" value="<%= user.phone %>" placeholder="Telefono">
                        <label for="phone">Teléfono</label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center mb-3">
                    <button type="submit" class="btn ml-auto rounded-pill px-5" id="btnUpdate">MODIFICAR CAMBIOS</button>
                </div>
            </form>
        </div>
        <div class="mx-5">
            <a href="../profileA" class="backLink"><i class="bi bi-skip-backward-fill"></i> | Volver</a>
        </div>
    </div>
    <% } %>
    <!-- END MAIN -->

    <!-- START HEADER -->
    <footer>
        <%- include('../partials/footer');%>
    </footer>
    <!-- END FOOTER-->
</body>
</html>